# Для Docker Compose (корень проекта) - скопируй в .env
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=postgres

GRAFANA_ADMIN_PASSWORD=your_grafana_password